
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply the Poppins font globally */
body, html {
    font-family: 'Poppins', sans-serif;
  }
  
  .custom-orange-bg {
    background-color: #EA7926;
  }
  
  .custom-orange-text {
    color: #EA7926; /* For text color */
  }
  
  .custom-orange-border {
    border: 2px solid #EA7926; /* For border color */
  }
  
  .custom-orange-hover:hover {
    background-color: #CC6922; /* For hover effect */
    color: white; /* For text color on hover */
  }

  .custom-blue-bg {
    background-color: #232C3A;
  }
  
  .custom-blue-text {
    color: #232C3A;
  }
  
  .custom-hover-text {
    color: #CC6922;;
  }

  .custom-hover-bg {
    background-color: #CC6922;;
  }
  
  .center{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .between{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

/* Style for the entire scrollbar */
::-webkit-scrollbar {
  width: 2px; /* width of the vertical scrollbar */
  height: 8px; /* height of the horizontal scrollbar */
}

/* Style for the draggable part of the scrollbar (thumb) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* color of the scrollbar thumb */
  border-radius: 10px; /* rounded corners for the thumb */
}

/* Style for the scrollbar thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* darker color when the thumb is hovered */
}

/* Style for the track (the area the thumb slides along) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* background color of the track */
  border-radius: 10px; /* rounded corners for the track */
}
