<div class="w-full h-[90vh] flex flex-row-reverse items-start justify-center lg:space-x-10 overflow-y-hidden">


    <div class="hidden lg:block w-1/2 h-[97%] rounded pr-2">
        <img src="assets/login-img.jpeg" alt="" class="object-cover object-center w-full h-full rounded">
    </div>

    @if(!authService.isLoggedIn()){

    <div class="max-[400px]:w-full max-[400px]:px-2 w-11/12 sm:w-4/5 lg:w-1/2 h-[97%] space-y-12">

        <div class="w-full space-y-2">
            <h1 class="text-2xl font-bold tracking-wide">Welcome Back, Foodie!</h1>

            <div class="w-full flex items-center justify-start space-x-2">
                <p class="tracking-wide text-sm">Don't have an account ?</p>
                <a class="text-[#EA7926] text-sm cursor-pointer transform hover:scale-105 transition-all duration-200 ease-in-out"
                    routerLink="/sign-up">Create one</a>
            </div>
        </div>


        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-full ">

            <div class="w-full h-full items-start justify-center flex-col space-y-8">

                @if(errorMessage && errorMessage != ''){
                <p class="text-sm text-red-500">Invalid email or password</p>
                }

                <div class="w-full lg:w-11/12 flex flex-col items-start justify-center">
                    <input type="text" id="email" formControlName="email"
                        class="outline-none border-2 w-full rounded  py-2 pl-2 border-gray-200 focus:ring-[1px] focus:ring-[#232C3A] focus:border-[#232C3A]"
                        placeholder="Email">

                    @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
                    <div class="text-red-500">
                        @if (loginForm.get('email')?.errors?.['required']) {
                        <small>Email is required</small>
                        }
                        @if (loginForm.get('email')?.errors?.['email']) {
                        <small>Enter a valid email</small>
                        }
                    </div>
                    }

                </div>




                <div class="w-full lg:w-11/12 flex flex-col items-start justify-center">
                    <input type="password" id="password" formControlName="password"
                        class="outline-none border-2 w-full rounded  py-2 pl-2 border-gray-200 focus:ring-[1px] focus:ring-[#232C3A] focus:border-[#232C3A]"
                        placeholder="password">

                    @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
                    <div class="text-red-500">
                        @if (loginForm.get('password')?.errors?.['required']) {
                        <small>Password is required</small>
                        }
                        @if (loginForm.get('password')?.errors?.['minlength']) {
                        <small>Minimum 6 characters required</small>
                        }
                    </div>
                    }

                </div>

                <button type="submit" class="text-sm border bg-[#232C3A] w-full lg:w-11/12 py-3 text-white">
                    Log in
                </button>


            </div>

        </form>

        <div class="w-11/12 flex flex-col items-center justify-between space-y-6">

            <div class="flex items-center justify-center w-full space-x-8">
                <h1 class="w-1/3 h-[1px] custom-blue-bg"></h1>
                <h1 class="text-center">or Log in with </h1>
                <h1 class="w-1/3 h-[1px] custom-blue-bg"></h1>
            </div>

            <div class="w-11/12 flex items-center justify-center">

                <div (click)="googleSignIn()"
                    class="w-[49%] h-12 border-[1px] border-black rounded-md flex items-center justify-center space-x-3 cursor-pointer">
                    <img src="/assets/google.webp" alt="" class="w-5">
                    <h1 class="font-semibold">Google</h1>
                </div>
            </div>

        </div>


    </div>
    }
    @else {

    <div
        class="w-full px-2 sm:w-4/5 lg:w-1/2 h-full lg:h-[97%] space-y-12 overflow-auto lg:overflow-hidden py-4 lg:py-0">

        <div class="flex items-center justify-between lg:pr-4">

            <div class="w-full space-y-2">
                <h1 class="text-2xl font-bold tracking-wide">Let’s Get to Know You Better!</h1>

                <div class="w-full flex items-center justify-start space-x-2">
                    <p class="tracking-wide text-sm ">Explore Your Profile - Here's Everything About Your <span
                            class="text-[#EA7926]">Account!</span> </p>
                </div>
            </div>

            <div (click)="logOut()"
                class="w-28 cursor-pointer text-sm h-10 bg-[#232C3A] text-white rounded flex items-center justify-center">
                <h1>Log out</h1>
            </div>
        </div>

        <div class="w-full space-y-3 lg:mt-6 flex flex-col items-start justify-center">




            @if(user?.displayName) {
            <div
                class="w-[99%] flex flex-col lg:flex-row items-start lg:items-center justify-start space-y-2 lg:space-y-0 lg:space-x-2">
                <div class="w-full lg:w-1/4 bg-slate-100 rounded-md py-3 px-4">
                    <h1 class="font-semibold">Display Name :</h1>
                </div>
                <div class="w-full lg:w-3/4 bg-slate-100 rounded-md py-3 px-4">
                    <h1>{{ user?.displayName }}</h1>
                </div>
            </div>
            }


            @if(user?.email) {
            <div
                class="w-[99%] flex flex-col lg:flex-row items-start lg:items-center justify-start space-y-2 lg:space-y-0 lg:space-x-2">
                <div class="w-full lg:w-1/4 bg-slate-100 rounded-md py-3 px-4">
                    <h1 class="font-semibold">Email :</h1>
                </div>
                <div class="w-full lg:w-3/4 bg-slate-100 rounded-md py-3 px-4">
                    <h1>{{ user?.email }}</h1>
                </div>
            </div>
            }

            <div
                class="w-[99%] flex flex-col lg:flex-row items-start lg:items-center justify-start space-y-2 lg:space-y-0 lg:space-x-2">

                <div class="w-full lg:w-1/4 bg-slate-100 rounded-md py-3 px-4">
                    <h1 class="font-semibold">Full name :</h1>
                </div>
                <div [ngClass]="isEditingName ? 'bg-white border-[1px] border-black' : 'bg-slate-100'"
                    class="w-full lg:w-3/4 h-full rounded-md py-3 px-4 relative">

                    <div (click)="toggleNameEdit()" [ngClass]="isEditingName? 'hover:bg-green-500':'hover:bg-blue-500'"
                        class="w-20 h-6 rounded-full  bg-white border-black text-xs center absolute right-2 inset-y-3  hover:text-white transition-all duration-150 ease-out cursor-pointer">
                        {{isEditingName? "Save": "Edit"}}</div>

                    <input [ngClass]="isEditingName? 'bg-white':'bg-slate-100'" class="w-full h-full outline-none"
                        [(ngModel)]="updatedName" [readOnly]="!isEditingName">
                </div>
            </div>

            <div
                class="w-[99%] flex flex-col lg:flex-row items-start lg:items-center justify-start space-y-2 lg:space-y-0 lg:space-x-2">

                <div class="w-full lg:w-1/4 bg-slate-100 rounded-md py-3 px-4">
                    <h1 class="font-semibold">Phone Number :</h1>
                </div>
                <div [ngClass]="isEditingPhone ? 'bg-white border-[1px] border-black' : 'bg-slate-100'"
                    class="w-full lg:w-3/4 h-full rounded-md py-3 px-4 relative">

                    <div (click)="togglePhoneEdit()" [ngClass]="{
                        'hover:bg-green-500': isEditingPhone && phone.valid,
                        'hover:bg-red-600': isEditingPhone && phone.invalid,
                        'hover:bg-blue-600': !isEditingPhone
                        }"
                        class="w-20 h-6 rounded-full  bg-white border-black text-xs center absolute right-2 inset-y-3  hover:text-white transition-all duration-150 ease-out cursor-pointer">
                        {{isEditingPhone? "Save": "Edit"}}</div>

                    <input [ngClass]="isEditingPhone? 'bg-white':'bg-slate-100'" class="w-full h-full outline-none"
                        [(ngModel)]="updatedPhone" [readOnly]="!isEditingPhone" #phone="ngModel">

                    <div *ngIf="phone.invalid && phone.touched" class="text-red-500 text-xs mt-1">
                        <div *ngIf="phone.errors?.['minlength']">Phone number must be exactly 10 characters long.</div>
                        <div *ngIf="phone.errors?.['maxlength']">Phone number must be exactly 10 characters long.</div>
                    </div>
                </div>
            </div>


            <div
                class="w-[99%] flex flex-col lg:flex-row items-start lg:items-center justify-start space-y-2 lg:space-y-0 lg:space-x-2">

                <div class="w-full lg:w-1/4 bg-slate-100 rounded-md py-3 px-4">
                    <h1 class="font-semibold">Address :</h1>
                </div>
                <div [ngClass]="isEditingAddress ? 'bg-white border-[1px] border-black' : 'bg-slate-100'"
                    class="w-full lg:w-3/4 h-full rounded-md py-3 px-4 relative">

                    <div (click)="toggleAddressEdit()"
                        [ngClass]="isEditingAddress? 'hover:bg-green-500':'hover:bg-blue-500'"
                        class="w-20 h-6 rounded-full  bg-white border-black text-xs center absolute right-2 inset-y-3  hover:text-white transition-all duration-150 ease-out cursor-pointer">
                        {{isEditingAddress? "Save": "Edit"}}</div>

                    <input [ngClass]="isEditingAddress? 'bg-white':'bg-slate-100'" class="w-full h-full outline-none"
                        [(ngModel)]="updatedAddress" [readOnly]="!isEditingAddress">
                </div>
            </div>


            <div
                class="w-[99%] flex flex-col lg:flex-row items-start lg:items-center justify-start space-y-2 lg:space-y-0 lg:space-x-2">

                <div class="w-full lg:w-1/4 bg-slate-100 rounded-md py-3 px-4">
                    <h1 class="font-semibold">Pincode :</h1>
                </div>
                <div [ngClass]="isEditingPincode ? 'bg-white border-[1px] border-black' : 'bg-slate-100'"
                    class="w-full lg:w-3/4 h-full rounded-md py-3 px-4 relative">

                    <div (click)="togglePincodeEdit()" [ngClass]="{
                        'hover:bg-green-500': isEditingPincode && pincode.valid,
                        'hover:bg-red-600': isEditingPincode && pincode.invalid,
                        'hover:bg-blue-500': !isEditingPincode
                        }"
                        class="w-20 h-6 rounded-full bg-white border-black text-xs center absolute right-2 inset-y-3 hover:text-white transition-all duration-150 ease-out cursor-pointer">
                        {{ isEditingPincode ? "Save" : "Edit" }}
                    </div>

                    <input [ngClass]="isEditingPincode ? 'bg-white' : 'bg-slate-100'" class="w-full h-full outline-none"
                        [(ngModel)]="updatedPin" [readOnly]="!isEditingPincode" minlength="6" maxlength="6" required
                        #pincode="ngModel">

                    <!-- Validation Message -->
                    <div *ngIf="pincode.invalid && pincode.touched" class="text-red-500 text-xs mt-1">
                        <div *ngIf="pincode.errors?.['minlength']">Pincode must be exactly 6 characters long.</div>
                        <div *ngIf="pincode.errors?.['maxlength']">Pincode must be exactly 6 characters long.</div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    }
</div>