<div id="overlay"
  class="translate-x-full lg:hidden bg-gradient-to-t fixed top-0 right-0 left-0 from-[#F5F5F5] to-white w-full h-full z-40">

  <div class="flex items-center justify-between pt-6 px-1" (click)="onXClick()">

    <div
      class="flex items-center justify-center py-2 h-full shadow-xl pl-2 rounded-md space-x-3 w-4/5 sm:w-1/2 border-t-2">
      <img src="assets/search.png" alt="not available" class="w-6">
      <input type="text" class="w-full h-full outline-none text-sm">
    </div>

    <div class="flex items-center justify-center w-12 h-12 bg-white rounded-full shadow-md">
      <h1 class="font-mono font-black text-xl">X</h1>
    </div>

  </div>

  <div class="mt-20 w-full">
    <div class="space-y-16 flex flex-col items-center justify-center w-full">

      <div
        class="w-full h-full flex items-start pl-3 justify-center  flex-col space-y-8 ">

        <a [routerLink]="'home'" (click)="onRouteClick()"
          class="w-4/5 py-3 px-3 text-left shadow-xl flex items-center justify-start hover:bg-gray-200 cursor-pointer transition-all duration-150 ease-in">
          <h1 [ngClass]="{'font-semibold': isActiveRoute('/home')}">Home </h1>
        </a>


        <a [routerLink]="'restaurants-list'" (click)="onRouteClick()"
          class="w-4/5 py-3 px-3 text-left shadow-xl flex items-center justify-start hover:bg-gray-200 cursor-pointer transition-all duration-150 ease-in">
          <h1 [ngClass]="{'font-semibold': isActiveRoute('/restaurants-list')}">Restaurants</h1>
        </a>

        <div [routerLink]="'cart-list'" (click)="onRouteClick()"
          class="w-4/5 py-3 px-3 text-left shadow-xl flex items-center justify-start hover:bg-gray-200 cursor-pointer transition-all duration-150 ease-in">
          <a [ngClass]="{'font-semibold': isActiveRoute('/cart-list')}">Cart</a>
        </div>

        <div [routerLink]="'order-list'" (click)="onRouteClick()"
          class="w-4/5 py-3 px-3 text-left shadow-xl flex items-center justify-start hover:bg-gray-200 cursor-pointer transition-all duration-150 ease-in">
          <a [ngClass]="{'font-semibold': isActiveRoute('/order-list')}">Order</a>
        </div>

        <a [routerLink]="'log-in'" (click)="onRouteClick()"
          class="w-4/5 py-3 px-3 text-left shadow-xl flex items-center justify-start hover:bg-gray-200 cursor-pointer transition-all duration-150 ease-in"
          [ngClass]="{'font-semibold': isActiveRoute('/log-in')}">
          <h1>Log In/Account </h1>
        </a>

      </div>

    </div>
  </div>

</div>

<nav class="h-24 w-full flex items-center justify-between  px-2">
  <div class="flex items-center justify-start space-x-4 w-full sm:w-1/2 lg:w-1/4 cursor-pointer">
    <h1 class="text-xl">🍔🍕</h1>
    <h1 class="font-bold text-lg" [routerLink]="'home'">FoodieFusion</h1>
  </div>

  <div class="flex items-center justify-end lg:justify-between space-x-8 w-full sm:w-3/4 lg:w-[80%] 2xl:w-3/5">

    <img src="assets/menu.png" alt="" class="w-8 sm:hidden" (click)="onMenuClick()">


    <div class="space-x-8 hidden sm:flex items-center justify-center">
      <a [routerLink]="'home'" [ngClass]="{'font-semibold': isActiveRoute('/home')}">Home</a>
      <a [routerLink]="'restaurants-list'"
        [ngClass]="{'font-semibold': isActiveRoute('/restaurants-list')}">Restaurant</a>
      <img src="assets/menu.png" alt="" class="w-6 lg:hidden" (click)="onMenuClick()">
    </div>


    <div class="hidden lg:flex items-center justify-end w-full h-full ">

      <div class="w-3/5">
        <div class="flex items-center justify-center py-2 h-full shadow-xl pl-2 rounded-md space-x-3 w-11/12 border-t-2">
          <img src="assets/search.png" alt="not available" class="w-6">
          <input type="text" class="w-full h-full outline-none text-sm">
        </div>
      </div>

      <div class="flex items-center justify-between w-2/5">

        <div [routerLink]="'cart-list'"
        class="w-12 h-12 relative rounded-full shadow-xl flex items-center justify-center  hover:bg-gray-200 cursor-pointer transition-all duration-150 ease-in">
        @if(!authService.isLoggedIn && cartList.length > 0){
          <div class="custom-blue-bg w-8 h-8 rounded-full flex items-center justify-center absolute top-0 right-0">{{cartItems}}</div>
        }
          <img src="assets/cart.png" alt="" class="w-6">
        </div>

        <div [routerLink]="'order-list'"
          class="w-12 h-12 rounded-full shadow-xl flex items-center justify-center  hover:bg-gray-200 cursor-pointer transition-all duration-150 ease-in relative">
          @if(!authService.isLoggedIn && orderList.length > 0){
            <div class="custom-blue-bg w-8 h-8 rounded-full flex items-center justify-center absolute top-0 right-0">{{orderItems}}</div>
          }
          <img src="assets/trolley.png" alt="" class="w-5">
        </div>

        @if(!authService.isLoggedIn()){
        <div [routerLink]="'log-in'"
          class="w-12 h-12 rounded-full shadow-xl flex items-center justify-center hover:bg-gray-200 cursor-pointer transition-all duration-150 ease-in">
          <img src="assets/login.png" alt="" class="w-6">
        </div>
        }
        @else {
        <div [routerLink]="'log-in'"
          class=" flex items-center justify-center cursor-pointer transition-all duration-150 ease-in">
          <h1 class="font-semibold">{{authService.userSubject.value.displayName}}</h1>
        </div>
        }
      </div>
    </div>

  </div>
</nav>

<app-loader></app-loader>
<router-outlet></router-outlet>