<div id="overlay"
  class="translate-x-full lg:hidden bg-gradient-to-t fixed top-0 right-0 left-0 from-[#F5F5F5] to-white w-full h-full z-40">

  <div class="flex items-center justify-end pt-6 pr-2 sm:pr-6" (click)="onXClick()">
    <div class="flex items-center justify-center w-12 h-12 bg-white rounded-full shadow-md">
      <h1 class="font-mono font-black text-2xl">X</h1>
    </div>
  </div>

  <div class="mt-20 w-full">
    <div class="space-y-16 flex flex-col items-center justify-center w-full">

      <div
        class="w-full h-full flex items-center justify-center sm:flex-row sm:space-x-8 sm:space-y-0 flex-col space-x-0 space-y-8 ">

        <div
          class="flex items-center justify-center py-2 h-full shadow-xl pl-2 rounded-md space-x-3 w-4/5 sm:w-1/2 border-t-2">
          <img src="assets/search.png" alt="not available" class="w-6">
          <input type="text" class="w-full h-full outline-none text-sm">
        </div>

        <div class="space-x-6 flex items-center">

          <div
            class="w-14 h-14 rounded-full shadow-xl flex items-center justify-center hover:bg-gray-200 cursor-pointer transition-all duration-150 ease-in">
            <img src="assets/trolley.png" alt="" class="w-5">
          </div>

          <a [routerLink]="'sign-up'"
            class="w-14 h-14 rounded-full shadow-xl flex items-center justify-center hover:bg-gray-200 cursor-pointer transition-all duration-150 ease-in">
            <img src="assets/login.png" alt="" class="w-6">
          </a>

        </div>
      </div>


      <div class="w-full h-full flex items-center justify-center space-y-4 flex-col">
        <a [routerLink]="'home'" [ngClass]="{'font-semibold': isActiveRoute('/home')}">Home</a>
        <a [routerLink]="'restaurants-list'"
          [ngClass]="{'font-semibold': isActiveRoute('/restaurants-list')}">Restaurant</a>
      </div>
    </div>
  </div>

</div>

<nav class="h-24 w-full flex items-center justify-between sm:px-12 px-2">
  <div class="flex items-center justify-start space-x-4 w-full sm:w-1/2 lg:w-1/4 cursor-pointer">
    <h1 class="text-xl">🍔🍕</h1>
    <h1 class="font-bold text-lg" [routerLink]="'home'">FoodieFusion</h1>
  </div>

  <div class="flex items-center justify-end lg:justify-between space-x-8 w-full sm:w-3/4 lg:w-2/3 xl:w-1/2">

    <img src="assets/menu.png" alt="" class="w-8 sm:hidden" (click)="onMenuClick()">


    <div class="space-x-8 hidden sm:flex items-center justify-center">
      <a [routerLink]="'home'" [ngClass]="{'font-semibold': isActiveRoute('/home')}">Home</a>
      <a [routerLink]="'restaurants-list'"
        [ngClass]="{'font-semibold': isActiveRoute('/restaurants-list')}">Restaurant</a>
      <img src="assets/menu.png" alt="" class="w-6 lg:hidden" (click)="onMenuClick()">
    </div>


    <div class="hidden lg:flex items-center justify-center w-full h-full space-x-10">

      <div class="flex items-center justify-center py-2 h-full shadow-xl pl-2 rounded-md space-x-3 w-3/5 border-t-2">
        <img src="assets/search.png" alt="not available" class="w-6">
        <input type="text" class="w-full h-full outline-none text-sm">
      </div>

      <div
        class="w-14 h-14 rounded-full shadow-xl flex items-center justify-center  hover:bg-gray-200 cursor-pointer transition-all duration-150 ease-in">
        <img src="assets/trolley.png" alt="" class="w-5">
      </div>

      @if(!authService.isLoggedIn()){
      <div [routerLink]="'sign-up'"
        class="w-14 h-14 rounded-full shadow-xl flex items-center justify-center hover:bg-gray-200 cursor-pointer transition-all duration-150 ease-in">
        <img src="assets/login.png" alt="" class="w-6">
      </div>
      }
      @else {
      <div [routerLink]="'log-in'"
        class=" flex items-center justify-center cursor-pointer transition-all duration-150 ease-in">
        <h1>{{authService.userSubject.value.displayName}}</h1>
      </div>
      }
    </div>

  </div>
</nav>

<app-loader></app-loader>
<router-outlet></router-outlet>