<div class="flex justify-center items-center h-[60vh]">
  <div class="w-full text-center md:w-4/5 space-y-6">
    <h2 class="text-2xl font-bold">Email Verification</h2>
    <p *ngIf="!errorMessage && !infoMessage">A verification email has been sent to your email address. Please check your inbox to complete the verification process.</p>

    <!-- Display error message -->
    <p *ngIf="errorMessage" class="text-red-500 text-lg">{{ errorMessage }}</p>

    <!-- Resend button for expired/invalid links -->
    <button
      *ngIf="errorMessage"
      (click)="resendVerificationEmail()"
      class="custom-blue-bg w-52 h-10 rounded-full font-semibold"
    >
      Resend Verification Email
    </button>

    <!-- Display success message -->
    <p *ngIf="infoMessage" class="text-green-500 text-lg">{{ infoMessage }}</p>
  </div>
</div>
